asgiref==3.11.0
certifi==2025.11.12
charset-normalizer==3.4.4
Django==4.2.27
django-browser-reload==1.21.0
django-jazzmin==3.0.5
django-mathfilters==1.0.0
django-tailwind==4.5.0
idna==3.11
joblib==1.5.3
mysqlclient==2.2.7
narwhals==2.24.0
numpy==2.5.1
pandas==3.0.5
pillow==12.0.0
pytailwindcss==0.3.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
razorpay==2.0.0
requests==2.32.5
scikit-learn==1.9.0
scipy==1.18.0
six==1.17.0
sqlparse==0.5.4
threadpoolctl==3.6.0
tzdata==2025.2
urllib3==2.6.2
